<h2>Editar Conta</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="form-inputs">
  
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control", :autofocus => true %>
        </div>

        <div class="form-group">
          <%= f.label "Nova senha" %> <i>(deixe em branco se não quiser alterar)</i>
          <%= f.password_field :password, class: "form-control", :autocomplete => "off" %>
        </div>

        <div class="form-group">
          <%= f.label "Senha atual" %> <i>(precisamos da senha atual para confirmar as mudanças)</i>
          <%= f.password_field :current_password, class: "form-control" %>
        </div>
  
      </div>

      <div class="form-group">
        <%= f.submit "Atualizar", class: "btn btn-primary" %>
      </div>

    <% end %>
  </div>
  <div class="panel-footer">

    <p>Insatisfeito? <%= link_to "Cancelar minha conta", registration_path(resource_name),
                  method: :delete, 
                  class: "btn btn-sm btn-default",
                  data: { confirm: "Tem certeza?" } %>
  </div>