<div class="page-header">
  <h1>
	  <%= @post.title%><br>
	  <small class="author">Enviado há <%= time_ago_in_words(@post.updated_at) %> atrás por <strong>
      <% if @post.user == current_user %>
          você
      <% else %>
        <%= @post.user.email %>
      <%end%></strong>
    </small>
  </h1>
	<div class="lead">
    <%= image_tag @post.photo.url(:medium) %> <br><br>
		<%= simple_format(@post.body) %>
		<div class="btn-group" role="group" aria-label="...">
      <% if user_signed_in? %>
        <%= link_to like_post_path(@post), method: :put, class: "btn btn-default btn-xs" do %>
          <span class="glyphicon glyphicon-thumbs-up"></span>
            Like
          <%= @post.get_upvotes.size %>
        <% end %>
        <%= link_to dislike_post_path(@post), method: :put, class: "btn btn-default btn-xs" do %>
          <span class="glyphicon glyphicon-thumbs-down"></span>
            Dislike
          <%= @post.get_downvotes.size %>
        <% end %>
        <%if current_user == @post.user%>
    			<%= link_to 'Editar Post', edit_post_path(@post), class: 'btn btn-default btn-xs' %>
    			<%= link_to 'Deletar Post', @post, method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-default btn-xs' %>
        <% end %>
      <% end %>
			<%= link_to 'Voltar', posts_path, class: 'btn btn-default btn-xs' %>
		</div>
	</div>
  
</div>

<% c=@post.comments.count %>
<h3 class="comments_title">
  <%if c > 0 %>
      <%= c %> 
      <% if c > 1 %>
        comentários
      <% else %>
        comentário
      <% end %>
  <%else%>
      sem comentários
  <%end%>
</h3>
<div id="comments">
  <%= render @post.comments %>
  <%= render "comments/form" %>
</div>


