<!DOCTYPE html>
<html>
<head>
  <title>Rails Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-default" role="navigation">
    <div class="navbar-inner">
      <div class="container ">
        <div id="logo" class="navbar-brand"><%= link_to "Rails Blog", root_path %></div>
        <nav class="collapse navbar-collapse navbar-ex1-collapse">
        <% if user_signed_in? %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Novo Post', new_post_path %></li>
            <li><%= link_to 'Editar Conta', edit_user_registration_path %></li>
            <% if current_user.admin? %>
					    <li><%= link_to "Admin Panel", rails_admin_path %></li>
				  	<% end %>
            <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
            <li class="round-image-50"><%= image_tag(avatar_url(current_user))%></li>
          </ul>
        <% else %>
          <ul class="nav navbar-nav pull-right">
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
            <li><%= link_to 'Sign in', new_user_session_path %></li>
          </ul>
        <% end %>
        </nav>
      </div>
    </div>
  </header>

  <div id="main_content" class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>

      <div id="content" class="col-md-9 center-block">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>